<%- include('header') -%>
<h2>Boltaliðið Vinnur Uppgjörin</h2>
<div class="cropped-image-container">
  <img src="/images/fotbolti.jpg" alt="Hörkubarátta á milli Boltaliðsins og Vinningshópinn">
</div>
<p class="news-text">
Íþróttasögu Íslands er nú í þoku með spennandi keppni milli þriggja stórkostlegra knattspyrnuliða, Boltaliðsins, Vinningshópsins og Óhemjurna.
Þessi lið keppa sem aldrei áður um að sækja gulltroféið, og spennan í hverju leikjum er að koma áfram á háu stigi.<br>

Boltaliðið hefur verið í toppi stiginna með glæsilegu talið 20, en þeir hafa sýnt sterkleika sín á vellinum í gegnum alla keppnina.
Með sóknarliðinu að leiðarljósi, vona Boltaliðið að halda áfram að vinna og halda inn á sig gullpokann.<br>

En það er ekki bara Boltaliðið sem stríðir um sigurinn. Vinningshópurinn, sem er í næstum sæti með 19 stig, er í gegnum dramatíska snúning í leiknum sínum.
Þrátt fyrir það að þeir hafi tapað síðustu leik, eru þeir ákaflega fyrirgefnir í að taka stóran sigur í næsta leik og koma aftur á toppinn.<br>

Óhemjurnar, þó að vera á eftir með 18 stig, eru enn að spila með öllu. Þeir hafa sýnt að þeir geta verið ógn fyrir hvaða lið sem er, og með fyrirhuguðum stigagjöfum í komandi leikjum,
geta þeir skapið mikla ógn fyrir Boltaliðið og Vinningshópinn.<br>

Með öllum augum stefnt á næsta leik, er spennan í loftinu, og hver leikurinn mun ákaflega ákafa mikla athygli frá áhorfendum og stuðningsmönnum.
Getur Boltaliðið haldið áfram að stjórna toppnum, eða mun Vinningshópurinn eða Óhemjurnar ná að slá þau af kringum? Endalausir leikir eru í bíðinni og enginn veit hvað
getur gerst á vellinum.
</p>
<%- include('footer') -%>
